
    header{
        background-color: green;
        width: 100%;
        height: 100%;
    
    }
 
    #img-1{
        background-image: url('../img/tenis1.jpg');
    }
    
    #img-2{
        background-image: url('../img/tenis2.jpg');
    }
    
    #img-3{
        background-image: url('../img/tenis3.jpg');
    }
    
    #img-4{
        background-image: url('../img/tenis4.jpg');
    }
    
    #img-5{
        background-image: url('../img/tenis5.jpg');
    }
    
    #img-6{
        background-image: url('../img/tenis6.jpg');
    }
    .product-image{
        height: 300px;
        width: 25%;
        margin-bottom: 10px;/*afastar a img do conteudo*/
        background-position: center;
        background-size: cover;/*Mostra o max possi da img na area que temos*/
    }